<div>
  <p [ngStyle]="{color:getColor()}" >Zadania do wykonania: {{taskList.length}}</p>
  <div class="container">
    <app-add-task (emitTask)="add($event)"></app-add-task>
  </div>
  <div class="container">
    <div>
    <!-- <app-todo-task [taksList]="taskList" (emitDone)="done($event)" (emitRemove)="remove($event)"></app-todo-task> -->
    <app-todo-task></app-todo-task>
    </div>
    <div>
      <!-- <app-done-task [doneTaskList]="doneTaskList"></app-done-task> -->
      <app-done-task></app-done-task>
    </div>
  </div>
</div>
